-e git+git@github.com:QuantumFractal/bismuth.git@0ae88720c6ff021345d908213046df3d95c6ba22#egg=bismuth
dataclasses==0.6
future==0.16.0
lark-parser==0.7.8
moderngl==5.5.4
moderngl-window==2.0.4
multipledispatch==0.6.0
numpy==1.17.4
Pillow==9.3.0
pyglet==1.4.8
pyrr==0.10.3
six==1.13.0
