bismuth==1.0
dataclasses==0.6
future==0.16.0
lark-parser==0.7.8
moderngl==5.5.4
moderngl-window==2.0.4
multipledispatch==0.6.0
numpy==1.17.4
Pillow==6.2.1
pyglet==1.4.8
pyrr==0.10.3
six==1.13.0
